* {
	margin: 0;
	padding: 0;
}

/* common layout */
.main_content {
	font-family: 'Jost', sans-serif;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 80%;
	margin-left: 10%;
}

.heading_top {
	margin-top: 3%;
	font-family: 'Jost', sans-serif;
	text-transform: capitalize;
	margin-bottom: 2%;
	margin-left: 10%;
}

.container {
	width: 70%;
	border: 1px solid #bbb;
	background-color: #fff;
	padding: 2%;
}

.side_container {
	position: sticky;
	text-transform: capitalize;
	padding: 3%;
	background-color: #eee;
	width: 30%;
}

/* container address */
.container div.address {
	border: 1px solid #bbb;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4%;
	margin-bottom: 5%;
}

.container div.address p {
	margin-bottom: 2px;
	font-size: 18px;
	text-transform: capitalize;
}

.container div.address button {
	padding: 5%;
	width: 150px;
	font-weight: 500;
	border: 1px solid #000;
	color: #fff;
}

/* orderlist */
.container .order_list .order_details {
	display: flex;
	justify-content: flex-start;
	border: 2px solid #eee;
	margin-bottom: 5%;
	padding: 3%;
	position: relative;
}

.product_list {
	width: 50%
}

div.x-mark i {
	color: #555;
	float: right;
	font-size: 25px;
	position: absolute;
	top: 3%;
	right: 2%;
}

.product_thumbnail img {
	width: 10em;
	margin-right: 5em;
	height: 100%
}

.product_name, .brand_name {
	margin: 0;
	font-size: 20px;
}

.product_price {
	font-size: 20px;
	font-weight: 500;
	margin-right: 3%;
}

.original_price {
	color: #bbb;
	margin-right: 3%;
}

.product_offer {
	color: rgb(255, 97, 97);
}

span.date {
	font-weight: 500;
	font-size: 18px;
}

.buttons {
	margin-top: 8%;
	display: flex;
}

.buttons div {
	padding-right: 10%;
}

.buttons div button.movetobag {
	padding: 5%;
	background-color: #222;
	border: 1px solid #bbb;
	color: #fff;
	width: 200px;
}

/* pricedetails */
.side_container h3 {
	padding-bottom: 5%;
}

.side_container table tbody tr td {
	padding-bottom: 5%;
	padding-right: 10px;
	width: 100%;
}

.side_container table tbody tr:last-child td:first-child, tr:last-child td:last-child
	{
	text-transform: uppercase;
	font-weight: 600;
}

.side_container button {
	text-transform: capitalize;
	background-color: #222;
	color: #fff;
	width: 100%;
	padding: 5%;
	font-weight: 600;
	margin-top: 4%;
}

.quantity {
	width: 60px;
}

.message {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2%;
	font-size: 25px;
}

.continueshop {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* change address */
.inputcontainer {
	visibility: hidden;
	position: fixed;
	top: 0px;
	width: 98vw;
	height: 100vh;
	background-color: #00000075;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputcontainer.openpopup {
	visibility: visible;
}

.inputcontainer input[type=radio] {
	accent-color: #000;
}

.inputchangeaddress {
	position: relative;
	width: 30%;
	padding: 1%;
	z-index: 2;
	background-color: #fff;
}

.inputchangeaddress .add {
	border: 1px solid #000;
	width: 100%;
	text-transform: uppercase;
	font-size: 14px;
}

.inputchangeaddress .add:hover {
	border: 1px solid #000;
	width: 100%;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 14px;
}

.inputchangeaddress h5 {
	/* padding-bottom: 2%;
    border-bottom: 1px solid #bbb; */
	margin-bottom: 3%;
	display: inline-block;
}

.localaddress {
	background-color: #fff;
	padding: 2%;
	border-top: 1px solid #bbb;
}

.localaddress div {
	padding-right: 10px;
}

.changeaddressx-mark {
	color: #555;
	float: right;
	font-size: 20px;
	top: 2%;
}

.buttonsofwishlist {
	width: 100%;
	padding: 1%;
	display: flex;
	justify-content: right;
}

.rem_all.btn {
	border: 1px solid #000;
}

.rem_all.btn:hover {
	border: 1px solid #000;
}

.wishlist {
	border: 2px solid #eee;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5%;
	font-weight: 500
}

.wishlist:hover {
	border: 2px solid #eee;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5%;
}

.span_size {
	text-transform: uppercase;
}

.availalert {
	color: #ff0000;
	font-size: 14px;
}

.no-products-message {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60vh; 
	font-size: 100px;
	color: #fff;
	
}

.add.btn {
    margin-top: 18px;
    border: 1px solid #555;
    /* background-color: #555; */
}

.add.btn:hover {
    margin-top: 18px;
    border: 1px solid #555;
    color:#000;
    font-weight:400;
    /* background-color: #555; */
}


.no-products-message i {
	font-size: 100px;
	margin-bottom: 20px; 
	color: #FF5733;
}

/* @media(max-width:360px){
    .main_content {
        font-family: 'Jost', sans-serif;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: ;
        width: 100%;
        margin-left: 0;
    }

    .container {
        width: 100%;
        border:none;
        background-color: #fff;
        padding: 0;
    }

    .container div.address {
        border: 1px solid #bbb;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6%;
        margin-bottom: 5%;
        flex-wrap: wrap;
    }

    .container div.address p {
        font-size: 18px;
        text-transform: capitalize;
        margin-bottom: 0;
    }

    .product_thumbnail img {
        width: 90%;
    }

    .order_details div.product_list div {
        padding-bottom: 4%;
    }

    .side_container {
        position: sticky;
        bottom:0;
        text-transform: capitalize;
        padding: 3%;
        background-color: #eee;
        width: 100%;
    }
}

 */