* {
    margin: 0;
    padding: 0;

}

.header-account {
    margin-top: 2%;
    font-family: 'Jost', sans-serif;
    width: 78vw;
    position: relative;
    border-bottom: 2px solid #eee;
    margin-bottom: 2%;
    margin-left: 10%;
}

.header-account h2 {
    position: absolute;
    margin-left: 2%;
    text-transform: capitalize;
}

.header-account span {
    cursor: pointer;
    font-weight: 600;
}

.header-account a {
    text-decoration: none;
    color: #555;
}

.account {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     /* width: 100vw; */
    height:100vh; 
}

/* address style */

.account div.addressbook{

    text-transform: capitalize;
    background-color: #eee;
    width:25%;
    height:77%;
    display:flex;
    flex-direction: column;
    align-self: start;
    padding:25px;

}

.address_details{
    width:100%;
    background-color: #fff;
    padding:10px;
    color:#555;
}


.status.default{
    display:block;
    background-color: #eee;
    padding:1px 8px;
    font-size:12px;
    border-radius: 30px;
    position: relative;
    top:0px;
    float:right;
}

.status{
   display: none;
}

.add.btn{

    margin-top: 18px;
    border: 1px solid #555;
    /* background-color: #555; */
}

.add.btn i{
    font-weight: 400;
}

.add.btn:hover{
    margin-top: 18px;
    border: 1px solid #555;
    font-weight: 500;
}

.address_title{
    font-weight:700;
    color:#555;
    padding-bottom: 10px;
}

.address_details{
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
}

.heading h5{
    margin-bottom: 6%;
}


.mobilenumber{
    padding:10px 1px;
    font-size: 14px;
}

.buttons{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #eee;
    width:100%;
}

.buttons .remove_address{
    border-left:1px solid #eee;
    width:50%;
    text-align: center;
}

.buttons .remove_address:hover{
    border-left:1px solid #eee;
    width:50%;
    text-align: center;
    color:#555;
    font-weight: 500;
}

.buttons .edit_address{
    width:50%;
    text-align: center;
}


.buttons .edit_address:hover{
    width:50%;
    text-align: center;
    color:#555;
    font-weight: 500;
}


.profile_details {
    font-family: 'Jost', sans-serif;
    width:50%;
    height:100%;
}

.profile_details div.heading {
    display: grid;
    grid-template-columns: 5fr 1fr;
    border-bottom: 2px solid #eee;
    padding-bottom: 3%;
}

.profile_details div.heading h3 {
    margin-left: 1%;
    font-weight: 600;
    text-transform: capitalize;
}

.profile_details_table {
    padding-top: 8%;
    font-size: 18px;
    border: 2px solid #eee;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 8%;
}

table tbody tr td {
    width: 70%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 12%;
}

.profile_details_table table {
    padding-top: 40px;
}

.profile_details button {
    width: 100%;
    padding: 10px 40px;
    background-color: #222;
    color: #fff;
    font-size: 16px;
    border: none;
}

.profile_details button:hover {
    width: 100%;
    padding: 10px 40px;
    background-color: #555;
    color: #fff;
    font-size: 16px;
    border: none;
}

/* 
.profile_details button#remove {
    font-size: 18px;
    width: 1%;
    right: 10%;
    text-align: center;

} */

.header-account {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.line {
    border-bottom: 1px solid #eee;
    margin-bottom: 4%;
}


div.seller {
    font-family: 'Jost', sans-serif;
    border: 2px solid #eee;
    text-align: center;
    padding: 2%;
    background-color: #eee;
    margin-bottom: 0;
    border-bottom: 1px solid #fff;
}

div.seller h2 {
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    padding-bottom: 1%;
}

div.seller button {
    margin-top: 1%;
    color: #fff;
    background-color: #222;
    border: none;
    width: 15%;
    padding: 6px;
    border-radius: 5px;
}


#mobile-header {
    display: none;
}

.popup{
    visibility: hidden;
    position: absolute;
    top:5%;
    height:50%; 
}

.popup.open_popup{
    visibility: visible;
    position: absolute;
    top:5%;
    height:50%; 
}

.createdAddress{
    overflow-y:scroll;
}


.createdAddress::-webkit-scrollbar {
    display: none;
}



@media(max-width:360px) {

    .account {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 0;
    }

    .profile_details {
        font-family: 'Jost', sans-serif;
        width: 100%;
    }

    table tbody tr td {
        width: 40%;
        padding-bottom: 5%;
        padding-right: 0;
    }


    .profile_details_table {
        width: 100%;
        padding-top: 8%;
        font-size: 18px;
        border: 2px solid #eee;
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 8%;
    }
}